* {
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background-color: #21252b;
  color: #f6f7f8;
}

a {
  text-decoration: none;
  color: inherit;
}

#navbar {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 65px;
  width: 100%;
  left: 0px;
  top: 0px;
  background-color: #282c34;
  z-index: 999;
}

#navbar ul {
  list-style: none;
}

#navbar li {
  display: inline-block;
  padding: 0 15px;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 48px;
  margin: 0;
}

#welcome-section p {
  font-size: 24px;
  font-weight: 300;
  color: #ff3452;
}

@keyframes hide {
  from {
    opacity: 0%;
  }

  to {
    opacity: 0%;
  }
}

#hide-box {
  animation-name: hide;
  animation-duration: 6s;
  animation-iteration-count: 1;
}

@keyframes fade-in {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

#scroll-down-indicator {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 35vh;
  animation-name: fade-in;
  animation-delay: 6s;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

#scroll-down-indicator p {
  font-size: large;
  color: #f6f7f8;
}

@keyframes fade-down {
  from {
    opacity: 100%;
    top: 0px;
  }

  to {
    opacity: 0;
    top: 50px;
  }
}

#chevrons {
  display: flex;
  flex-direction: column;
  position: relative;
  animation-name: fade-down;
  animation-delay: 8s;
  animation-duration: 2s;
  animation-iteration-count: 3;
}

#projects {
  text-align: center;
  justify-content: center;
  padding-top: 75px;
}

#projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1280px;
  height: auto;
  margin: 0 auto;
}

#projects-header {
  flex-basis: 100%;
  margin-bottom: 24px;
  font-size: 32px;
  text-decoration: underline;
}

.project-tile {
  width: 300px;
  height: 375px;
  background-color: #282c34;
  margin: 20px;
  overflow: hidden;
  text-align: center;
}

.project-tile img {
  height: 315px;
  width: auto;
  overflow: hidden;
  left: -50%;
  position: relative;
}

.project-tile p {
  margin: 0px;
  padding: 16px 0px;
  font-size: 1.15em;
  font-weight: 600;

}

.project-tile span {
  font-size: 1.15em;
  font-weight: bold;
}

.animation {
  color: #282c34;
  transition: color 0.3s ease-out;
}

.project-tile:hover .animation {
  color: #ECE0C8;
}


#see-more {
  padding: 10px 25px;
  background-color: #ff3452;
  border-radius: 5px;
  margin-top: 50px;
  display: inline-block;
}

#see-more:hover {
  background-color: #cc2a42;
}

#see-more:active {
  background-color: #991f31;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 92vh;
}

#contact p {
  font-weight: 300;
}

#contact-icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.icon-button {
  padding: 15px;
  margin: 10px;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  transition: transform 0.3s ease-out;
}

.icon-button:hover {
  transform: translateY(8px);
}

#copyrights {
  border-top: 3px solid #ff3452;
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: flex-end;
}

#copyrights p {
  padding-right: 100px;
}


@media screen and (max-width: 550px) {

  #copyrights {
    justify-content: center;
  }

  #copyrights p {
    padding-right: 0px;
  }
}


.typewriter p {
  overflow: hidden;
  border-right: .15em solid #f6f7f8;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
  animation-delay: 1s;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: #f6f7f8;
  }
}

#subheader-hide-box {
  animation-name: hide;
  animation-duration: 1s;
}